.user {
  margin-left: 109px;
}

.user-top {
  margin-bottom: 100px;
}
.user-bottom {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
.user-bottom-informations-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  // width: 100%;
}

.user-bottom-informations-right {
  // border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 100%;
}

.informations {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
