//fichier sass
@use 'Accueil';
@use 'User';

/* FONTS */
:root {
  --red: #ff0101;
  --black: #020203;
  --grey: #fbfbfb;
  --fullwidth: 100%;
}
html {
  font-family: Roboto;
}

body {
  margin: 0;
}
:visited {
  color: black;
}

.footer-maincontent {
  display: flex;
}
