.diagrammes_diagramme-courbe {
  background-color: var(--red);
  .title {
    position: absolute;
    height: 48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */

    color: black;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.custom-tooltip-courbe {
  height: 25px;
  width: 39px;
  left: 184px;
  top: 102px;
  border-radius: 0px;
  background-color: white;
  p {
    font-family: Roboto;
    font-size: 8px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
}
