.graphique {
  // position: absolute;
  background-color: var(--grey);
  height: 320px;
  min-width: 835px;
  border-radius: 5px;

  margin-bottom: 70px;
  padding-top: 50px;
  &-title {
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #20253a;
    position: relative;
    left: 50px;

    // top: 20px;
  }
}

.custom-tooltip-graphique {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--red);
  color: white;
  height: 63px;
  width: 39px;
  position: relative;
  left: 50px;
  bottom: 50px;
  border-radius: 0px;
  p {
    font-family: Roboto;
    font-size: 7px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
}

.legend-item-0 {
  margin-right: 50px;
}
